.entries-page {
  padding: 20px;
}

.entries-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.entries-table th, .entries-table td {
  border: 1px solid #d5d5d5;
  padding: 8px;
}

.entries-table th {
  background-color: #d5d5d5;
  text-align: left;
}

.entries-table tr:nth-child(even) {
  background-color: #e6e6e6;
}

.entries-table tr:hover {
  background-color: #dadada;
}
