<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Haji Flour Mill | Admin - SignUp</title>
  <link rel="stylesheet" href="/assets/css/adminSignup.css">
</head>

<body>
  <header class="header">
    <nav class="navbar">
      <div class="logo">
        <h1><a href="/">Haji Flour Mill</a></h1>
      </div>
    </nav>
  </header>
  <div class="signup-admin-container">
    <h1 class="signup-success-heading">Haji Flour Mill</h1>
    <div class="signup-success-container">
      <p class="success-message">Admin <strong><%= username %></strong> created successfully.</p>
      <a href="/" class="home-link">
        <button class="home-btn">Home</button>
      </a>
    </div>
  </div>

</body>
</html>