<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Haji Flour Mill | Admin - SignUp</title>
  <link rel="stylesheet" href="/assets/css/adminSignup.css">
</head>

<body>
  <div class="signup-admin-page-container">
    <header class="header">
      <nav class="navbar">
        <div class="logo">
          <h1><a href="/">Haji Flour Mill</a></h1>
        </div>
      </nav>
    </header>
    <div class="signup-admin-container">
      <h1 class="signup-heading">Haji Flour Mill - Admin Signup</h1>
      <div class="signup-container">
        <form class="signup-form" action="/admin/signup" method="post">
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" placeholder="First Name" required>
          </div>
          
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" placeholder="Last Name" required>
          </div>
    
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email" required>
          </div>
    
          <div class="form-group">
            <label for="mobile">Mobile</label>
            <input type="tel" name="mobile" id="mobile" placeholder="Mobile" required>
          </div>
    
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" required>
          </div>
    
          <button type="submit" class="submit-btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>