.services-page-container{
  padding: 20px;
}

.services-container-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 20px;
  padding: 20px 0;
}

.service-card {
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: min(550px, 100%);
  text-align: center;
  transition: transform 0.3s ease;
  min-height: 350px;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.5;
}

.service-review {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  background-color: #f0f0f0;
}
